[Unit]
Description = denkidb daemon

[Service]
ExecStart = /usr/bin/python /home/pi/Public/denki-report/get_denki.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
